/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-logo-movie {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 100px;
  height: 100px;
}
.icon-logo-video {
  background-image: url(sprite.png);
  background-position: -100px 0px;
  width: 100px;
  height: 100px;
}
.icon-logo-wechat {
  background-image: url(sprite.png);
  background-position: 0px -100px;
  width: 100px;
  height: 100px;
}
.icon-logo-weibo {
  background-image: url(sprite.png);
  background-position: -100px -100px;
  width: 100px;
  height: 100px;
}
.icon-ranking_bg1 {
  background-image: url(sprite.png);
  background-position: -200px 0px;
  width: 50px;
  height: 30px;
}
.icon-ranking_bg2 {
  background-image: url(sprite.png);
  background-position: -200px -30px;
  width: 50px;
  height: 30px;
}
